
[x-cloak] { display: none !important; }

:root {
  --base-bg-color: #fdf6e3;
  --text-color: #2f4858;
  --primary-color: #496a72;
  --mid-color: #6e8d89;
  --color-light: #9ab0a2;
  --color-ex-light: #cbd3bf;
  font-size: 16px;
  font-family: 'Motiva Sans Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--base-bg-color);
  line-height: 1.8;
}

h1:first-child {
  margin: 0;
}

a {
  color: var(--mid-color);
  text-decoration: none;
}
a:hover{
  color: var(--primary-color);
  background-color: var(--color-ex-light);
}
a:active {
  color: var(--mid-color);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary-color);
}

h2::before {
  content: ""; 
  display: inline-block; 
  width: 4px;
  height: 1.2rem; 
  background-color: var(--color-ex-light);
  margin-right: 0.5rem;
  vertical-align: middle;
}

.light-text {
  color: var(--mid-color);
}

.pointer {
  cursor: pointer;
}

main {
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

.small-tips {
  font-size: 0.6em;
}

nav a {
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0;
}
nav a:hover {
  color: var(--text-color);
  background-color: var(--base-bg-color);
  margin: 0 0.5rem;
  padding: 0;
}
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--color-light);
  transition: left 0.2s ease, width 0.2s ease;
}

nav a:hover::after {
  left: 0;
  width: 100%;
}

.uni-logo {
  width: auto !important;
  height: 24px !important;
  max-width: 32px !important;
  vertical-align: middle !important;
  object-fit: contain !important;
}

table#table-edu td:first-child,
table#table-work td:first-child {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
